@import '../../../styles/Main.scss';
// @import '../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf';
// @import '../fonts/Montserrat/Montserrat-VariableFont_wght.ttf';

.myButton{
    width: 200px;
    height: 40px;
    padding: 5px 15px;
    color: $color;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1.3rem;
    // font-family:  "Montserrat", system-ui;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

    &{
        background-color: $corporate_color;
    }

    &:hover{
        background-color: $second_corporate_color;
    }

    &_disabled{
        opacity: .5;
    }
}